.App {
  text-align: center;
}

.flex-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.form-control {
  height: 2.5rem;
  width: 30%;
}

.btn-submit {
  height: 3rem;
  width: 20%;
  background-color: #091309;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 2rem 0;
}

.btn-submit:hover {
  background-color: #3a3939;
}

.heading {
  margin: 2rem;
}

@media screen and (max-width: 768px) {
  .flex-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .address {
    font-size: 13px;
  }
  .form-control {
    width: 80%;
    height: 3rem;
  }
  .btn-submit {
    width: 40%;
    height: 3rem;
  }
}